@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="sortable">#</th>
                            <th class="sortable">Resim</th>
                            <th class="sortable">Kategori Adı</th>
                            <th class="sortable">Ürünler</th>
                            <th class="sortable">Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-truncate">@count</td>
                            <td class="text-truncate">
                                <img src="@item.PictureUrl" width="80px" />
                            </td>
                            <td class="text-truncate">@item.Name</td>
                            <td class="text-truncate">
                                <a href="" class="btn btn-sm btn-warning">
                                    Kategoriye Ait Ürünler
                                </a>
                            </td>
                            <td class="text-truncate">
                                <span class="lable-tag tag-success">Aktif</span>
                            </td>
                            <td class="text-truncate">

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteCategory-@item.CategoryId">
                                    <i class="fa fa-eraser"></i>
                                </button>

                                <a asp-route-id="@item.CategoryId" asp-controller="Category" asp-action="UpdateCategory" asp-area="Admin" data-id="@item.CategoryId" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="modalDeleteCategory-@item.CategoryId">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>DİKKAT !!</b> Kategori Silinecek</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-route-id="@item.CategoryId" asp-controller="Category" asp-action="DeleteCategory" asp-area="Admin" data-id="@item.CategoryId">Sil</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </table>
                <a class="btn btn-sm btn-primary" asp-controller="Category" asp-action="CreateCategory" asp-area="Admin">Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</section>
