@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th class="sortable">#</th>
                            <th class="sortable">Ürün Adı</th>
                            <th class="sortable">Kategori</th>
                            <th class="sortable">Ürün Fiyatı</th>
                            <th class="sortable">Durum</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-truncate">@count</td>
                            <td class="text-truncate">@item.Name</td>
                            <td class="text-truncate">@item.CategoryName</td>
                            <td class="text-truncate">
                                @item.Price
                            </td>
                            <td class="text-truncate">
                                <span class="lable-tag tag-success">Aktif</span>
                            </td>
                            <td class="text-truncate">

                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteProduct-@item.ProductId">
                                    <i class="fa fa-eraser"></i>
                                </button>

                                <a asp-route-id="@item.ProductId" asp-controller="Product" asp-action="UpdateProduct" asp-area="Admin" data-id="@item.ProductId" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="modalDeleteProduct-@item.ProductId">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><b>DİKKAT !!</b> Kategori Silinecek</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-route-id="@item.ProductId" asp-controller="Product" asp-action="DeleteProduct" asp-area="Admin" data-id="@item.ProductId">Sil</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </table>
                <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="CreateProduct" asp-area="Admin">Yeni Ürün Ekle</a>
            </div>
        </div>
    </div>
</section>


